<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ricardofrango.pokemon.androidApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".PokemonApplication">

        <activity
            android:name=".ui.pokemon_list.PokemonsListActivity"
            android:label="@string/pokemons">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.pokemon_detail.PokemonDetailActivity" />

        <meta-data
            android:name="com.ricardofrango.pokemon.androidApp.PokemonGlideModule"
            android:value="AppGlideModule" />
    </application>
</manifest>